#img-bg{
    background-image: url('../../assets/img/backCadastro.png');
    min-height: 965px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    position: absolute;
    margin-left: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(165, 42, 42, 0.579);
}
.form-group .form-control {
    padding-left: 2.375rem;
}

/* .borda{
    color: #000000;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(145, 5, 5); 
} */